/* You can add global styles to this file, and also import other style files */
body {
    width:100%;
    font-family: 'PT Mono';
    background-color: #202020;
    color: rgba(255,255,255,2.45);
    text-align: center;
}

.sec1 {
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px
}
.sec1-h1 {
    font-size: 40px;
}

.colmd {
    font-size: 20px;
}

.banner-area {
    position: relative;
    bottom: 5px;
    font-size: 30px;
}